#if !defined( __WINDOWS_H )
#include <windows.h>
#endif

#if !defined( __CONSTANTS_H )
#include "constants.h"
#endif

#if !defined( __DIALOGS_H )
#include "dialogs.h"
#endif

G4WMENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "L&oad\tCtrl+o", IDM_Load
  MENUITEM "S&ave\tCtrl+s", IDM_Save
  MENUITEM "Save &as\tCtrl+a", IDM_Save_As
  MENUITEM "Sa&ve All\tCtrl+v", IDM_Save_All
  MENUITEM SEPARATOR
  MENUITEM "E&xit\tCtrl+x", IDM_Exit
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo\tCtrl+u", IDM_Undo
  MENUITEM "&New\tCtrl+n", IDM_New
  MENUITEM "&Finish\tCtrl+f", IDM_Finish
 }

 POPUP "&Options"
 {
  POPUP "&Sound\tCtrl+m"
  {
   MENUITEM "O&n", IDM_On
   MENUITEM "O&ff", IDM_Off
  }

  POPUP "S&tatus line\tCtrl+l"
  {
   MENUITEM "O&n", IDM_Status_On, CHECKED
   MENUITEM "O&ff", IDM_Status_Off
  }

  MENUITEM SEPARATOR
  MENUITEM "&Background\tCtrl+b", IDM_Background
  MENUITEM SEPARATOR
  POPUP "Spot options"
  {
   MENUITEM "Color\tCtrl+c", IDM_Spot_Color
   MENUITEM "Table\tCtrl+t", IDM_Table
  }

 }

 MENUITEM "E&xit", IDM_Exit
 POPUP "&Help"
 {
  MENUITEM "&Contents\tF1", IDM_Help
  MENUITEM "Ab&out\tCtrl+h", IDM_About
 }

}


G4WMENU ACCELERATORS 
{
 "^o", IDM_Load, ASCII
 "^s", IDM_Save, ASCII
 "^a", IDM_Save_As, ASCII
 "^v", IDM_Save_All, ASCII
 "^x", IDM_Exit, ASCII
 "^u", IDM_Undo, ASCII
 "^n", IDM_New, ASCII
 "^f", IDM_Finish, ASCII
 "^m", IDM_Sound, ASCII
 "^l", IDM_Status, ASCII
 "^b", IDM_Background, ASCII
 "^c", IDM_Spot_Color, ASCII
 "^t", IDM_Table, ASCII
 VK_F1, IDM_Help, VIRTKEY
 "^h", IDM_About, ASCII
}




G4WICON ICON "images/spot.ico"


NANA CURSOR "images/nana.cur"

MENUMAP BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/menu_map3.bmp"

SOCMAP BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/new2.bmp"

SPOTMAP BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/spot/spot_pic_8.bmp"

ROTMAP BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/rotms/rotms_allbut5.bmp"

FON1 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/fon24.bmp"

FON2 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/spot/plitka.bmp"

FON3 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/rotms/rotms_fon.bmp"

TOOLS_BMP BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/bigtool22.bmp"


1 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/grand/grand11.bmp"

2 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/grand/grand12.bmp"

3 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/grand/grand13.bmp"

4 BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/grand/grand14.bmp"

FOTO BITMAP LOADONCALL MOVEABLE DISCARDABLE "images/pasport64.bmp"


ICO1 ICON "images/socoban.ico"

ICO2 ICON "images/spot.ico"

ICO3 ICON "images/rotms.ico"

COMPUTER ICON "images/computer.ico"

PLAYER ICON "images/men.ico"


AboutBox DIALOG PRELOAD MOVEABLE DISCARDABLE 67, 54, 174, 88
STYLE WS_POPUP | WS_DLGFRAME
CLASS "BorDlg_Gray"
{
 CONTROL "Soc-Spo-Rot  v. 1.01", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 65, 13, 72, 8
 CONTROL "FOTO", -1, "STATIC", SS_BITMAP | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE | WS_BORDER, 3, 39, 64, 89
 CONTROL "ICO1", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_BORDER, 153, 3, 17, 17
 CONTROL "ICO2", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_BORDER, 3, 3, 17, 17
 CONTROL "ICO3", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_BORDER, 153, 67, 17, 17
 CONTROL "Logical games \n    Socoban, Spot && Rotms.           ", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 28, 128, 16
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 86, 68, 32, 12
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 2, 2, 170, 1
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 2, 85, 170, 1
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 171, 2, 1, 84
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 2, 2, 1, 84
 CONTROL "Line5", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 36, 2, 1, 84, 0
 CONTROL "Copyright (c) Viacheslav Sanin, 2001.\n E-mail: pisces080374@yahoo.com", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 48, 128, 16
}


BackGroundDlg DIALOG PRELOAD MOVEABLE DISCARDABLE 68, 40, 255, 232
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "bordlg"
CAPTION "Background for ..."
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 198, 43, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 198, 44, 25
 CONTROL "Drive", IDC_COMBOBOX1, "COMBOBOX", CBS_DROPDOWNLIST | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 12, 75, 100
 CONTROL "Directory", IDC_LISTBOX1, "LISTBOX", LBS_STANDARD | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE, 13, 28, 74, 102
 CONTROL "File", IDC_LISTBOX2, "LISTBOX", LBS_STANDARD | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE, 90, 12, 74, 124
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 2, 247, 226, WS_EX_DLGMODALFRAME
 CONTROL "Default", IDC_DEFAULT, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 81, 68, 49, 0
 CONTROL "", IDC_DEFBOX, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 92, 60, 50, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 8, 8, 160, 122, 0
 CONTROL "", IDC_SIZE, "edit", ES_CENTER | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 179, 63, 60, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "", IDC_PATH0, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 134, 176, 12, 0
 CONTROL "", IDC_PATH1, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 146, 176, 12, 0
 CONTROL "", IDC_PATH2, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 158, 176, 12, 0
 CONTROL "", IDC_PATH3, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 170, 176, 12, 0
 CONTROL "Frame3", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 22, 190, 204, 1, 0
 CONTROL "", IDC_RADIO, "button", BS_GROUPBOX | WS_CHILD | WS_GROUP, 12, 134, 50, 47, 0
 CONTROL "START", IDC_R0, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 134, 50, 12, 0
 CONTROL "SOCOBAN", IDC_R1, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 146, 50, 12, 0
 CONTROL "SPOT", IDC_R2, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 158, 50, 12, 0
 CONTROL "ROTMS", IDC_R3, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 170, 50, 12, 0
}


TableDlg DIALOGEX PRELOAD MOVEABLE DISCARDABLE 250, 0, 87, 35, 0
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_TOOLWINDOW
STYLE DS_3DLOOK | DS_CONTEXTHELP | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 CONTROL "Player", IDC_GROUPBOX1, "button", BS_GROUPBOX | BS_CENTER | BS_NOTIFY | WS_CHILD | WS_VISIBLE, 3, 0, 36, 31, 0, 1
 CONTROL "Computer", IDC_GROUPBOX2, "button", BS_GROUPBOX | BS_CENTER | BS_NOTIFY | WS_CHILD | WS_VISIBLE, 48, 0, 36, 31, 0, 2
 CONTROL "", IDC_BUTTON1, "button", BS_PUSHBUTTON | BS_CENTER | BS_BITMAP | BS_NOTIFY | WS_CHILD | WS_VISIBLE, 39, 8, 8, 20, WS_EX_DLGMODALFRAME, 3
}


SpotColorDlg DIALOGEX PRELOAD MOVEABLE DISCARDABLE 100, 3, 111, 190
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS ""
CAPTION "          Spot's options"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 18, 41, 27, 113
 CONTROL 2, IDC_RADIOBUTTON1, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE, 26, 50, 12, 19, WS_EX_STATICEDGE
 CONTROL 3, IDC_RADIOBUTTON2, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 70, 12, 19, WS_EX_STATICEDGE
 CONTROL 4, IDC_RADIOBUTTON3, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 90, 12, 19, WS_EX_STATICEDGE
 CONTROL 5, IDC_RADIOBUTTON4, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 110, 12, 19, WS_EX_STATICEDGE
 CONTROL 6, IDC_RADIOBUTTON5, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 130, 12, 19, WS_EX_STATICEDGE
 CONTROL "", -1, "button", BS_GROUPBOX | WS_CHILD | NOT WS_VISIBLE | WS_GROUP, 70, 41, 27, 113
 CONTROL 7, IDC_RADIOBUTTON6, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 50, 12, 19, WS_EX_STATICEDGE
 CONTROL 8, IDC_RADIOBUTTON7, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 70, 12, 19, WS_EX_STATICEDGE
 CONTROL 9, IDC_RADIOBUTTON8, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 90, 12, 19, WS_EX_STATICEDGE
 CONTROL 10, IDC_RADIOBUTTON9, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 110, 12, 19, WS_EX_STATICEDGE
 CONTROL 11, IDC_RADIOBUTTON10, "button", BS_AUTORADIOBUTTON | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 130, 12, 19, WS_EX_STATICEDGE
 CONTROL "COMPUTER", -1, "static", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 68, 12, 30, 30, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 4, 4, 104, 182, 0
 CONTROL "Frame2", -1, "static", SS_WHITEFRAME | WS_CHILD | WS_VISIBLE, 8, 8, 96, 174, WS_EX_DLGMODALFRAME
 CONTROL "Line1", -1, "BorShade", BSS_VBUMP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 56, 12, 1, 34, 0
 CONTROL "Line2", -1, "BorShade", BSS_HBUMP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 47, 45, 20, 1, 0
 CONTROL "Line3", -1, "BorShade", BSS_HBUMP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 47, 154, 20, 1, 0
 CONTROL "Line4", -1, "BorShade", BSS_VBUMP | BSS_CTLCOLOR | BSS_LEFT | WS_CHILD | WS_VISIBLE, 56, 154, 1, 8, 0
 CONTROL "<>", IDC_BUTTON6, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 162, 14, 10, 0
 CONTROL "PLAYER", -1, "static", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 16, 12, 30, 30, 1
 CONTROL "", IDC_First, "static", SS_CENTER | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 11, 160, 38, 15, WS_EX_CLIENTEDGE
 CONTROL "", IDC_Second, "static", SS_CENTER | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 63, 160, 38, 15, WS_EX_CLIENTEDGE
}


